body{
    background-color: rgb(230, 239, 230);
    margin: 0;
}

article{
    width: 85%;
    background-color: white;
    position: relative;
    left: 15%; /* shift 15% from its original position */
}

ul.nav{
    position: fixed; /* fixed & absolute : floating  */   
    width: 15%;
    list-style: none;
    padding: 0;
    margin: 30px 0;
}

.nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 30px;
}

.nav a:hover{
    background-color: green;
    color: white;   
}

article .first{
    height: 850px;
    background: url(../images/Initial_canada.jpg) fixed center;
    background-size: cover;
    position: relative; /* for the child .first_introduction element */
}

.first_introduction{
    font-family: 'Rubik', sans-serif /* a backup font in case the Google font fails to load */ ;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 25px blue, 0px 0px 10px darkblue, 1px 1px 10px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* to center the element exactly in the middle of its parent */
}

.first_introduction h3{
    font-size: xx-large;
    margin-top: 50px;
}

/* ------------------- Second section of the main article ------------------- */

article .second{
    padding-left: 20px;
    padding-bottom: 200px;
}

article .second h3{
    font-family: 'Shadows Into Light', cursive ;
    font-size: xx-large;
    color: cadetblue;
}

h2, h3{
    text-transform: capitalize;
}

::marker{
    color: seagreen;
    font-size: x-large;
    font-family: 'Indie Flower', cursive;
}

::selection{    /* When user drags and selects text (::selection) */
    color: white;
    background-color: darkcyan;
}

#paintingContainer{
    display: none;
    width: 80%;
    background-color: rgb(252, 246, 237);
    padding: 10px;
    overflow: hidden;   /* to prevent collapse */
    /* Other ways to create a Block Formatting Context 
            display: flow-root;     
            overflow: auto;     */
    box-shadow: 1px 1px 10px gray;
    position: absolute;
}

#paintingContainer .card{
    width: 40%;
    float: left;
    margin: 0 5%;
}

.card img{
    width: 100%;
}

button{
    border: green thin solid;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
}

button:hover{
    background-color: green;
    color: white;
}

button:hover + #paintingContainer{
    display: block;
}

#smallNature1, #smallNature2{
    width: 40px;
    height: 30px;
    cursor: pointer;
}

#bigNature1, #bigNature2{
    display: none;
    width: 35%;
    box-shadow: 1px 1px 10px gray;
}

#smallNature1:hover ~ #bigNature1, 
#smallNature2:hover ~ #bigNature2{
    display: block;
    position: absolute;
    left: 40% ;
}

.second p{
    color: white;
    text-shadow: 0px 0px 10px black, 1px 1px 1px black; 
    width: 65%;
    padding: 30px;
    background: url(../images/coding.jpg);
    background-size: cover;
    border-radius: 10px;
}

/* ------------------- Footer ------------------- */

footer{
    text-align: center;
    padding: 10px;
}

/* ------------------- Responsive design: width 550px or less ------------------- */

@media screen and (max-width: 550px){
    ul.nav{
        width: 100%;
        margin: 0;
        background-color: rgb(230, 239, 230);
        display: flex;
        justify-content: center;
        z-index: 1;
    }

    article{
        width: 100%;
        left: 0;
        z-index: 0;
    }

    /* footer{
        position: relative;
        z-index: 1;     // needs position (non static) 
    } */
}
